body {
  margin: auto;
  max-width: 75rem;
}



  nav {
    max-width: 75rem;
    margin: auto;
    li {
      width: 10%;
    }
  }

  // div.headerWrapper {
    
  // }

  header {
    max-width: 75rem;
    margin: auto;
  } 

  

  main {
    margin: auto;
    max-width: 75rem;
  }